.container {
  @apply p-3 grid items-center justify-between bg-gradient-to-r from-teal-700 via-teal-800 to-teal-900 w-full top-0 fixed z-10 isolate;
  grid-template-areas:
    "profile icon"
    "sections sections";
}

.icon {
  grid-area: icon;
}

.profile {
  grid-area: profile;
}

.sections {
  grid-area: sections;
}

@media screen(md) {
  .container {
    grid-template-areas: 
      "profile sections";
  }

  .icon {
    display: none;
  }
}

@media screen(lg) {
  .container {
    @apply h-full w-64 content-center justify-center;
    grid-template-areas:
      "profile"
      "sections";
  }

  .icon {
    display: none;
  }
}

@media print {
  .container {
    @apply static;
  }

  .icon {
    @apply hidden;
  }
}